* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  font-family: "Concert One", cursive;
}

.container {
  border: 1px solid blue;
  display: grid;
  height: 100vh;
  grid-template-columns: 0.4fr 1.7fr 1.9fr 2.3fr 0.4fr;
  grid-template-rows: 0.5fr 1.3fr 1.4fr 1.4fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header header"
    ". content content content ."
    ". content content content ."
    ". content content content ."
    ". content content content .";
}
/*-------------------Header----------------------*/
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  color: #d2d2d2;
  background-color: #292929;
}

.header-title-image {
  margin-left: 12px;
}
.main-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-title {
  font-size: 3rem;
}

#book-logo {
  margin-top: 12px;
  width: 3vw;
  height: auto;
}

.add-button {
  margin-top: 10px;
  font-family: "Concert One", cursive;
  border-color: yellow;
  background-color: #121212;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1.3rem;
  color: #d2d2d2;
}

.plus-symbol {
  color: yellow;
}

.book-count-list {
  margin-right: 10px;
  display: flex;
  list-style: none;
  font-size: 1.5rem;
}
/*-------------------Content----------------------*/
.content {
  border: 1px solid red;
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(3, 515.4px);
  grid-template-rows: repeat(3, 300px);
  grid-auto-rows: 300px;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: content;
  align-items: center;
}

.cards-cell {
  height: 100%;
  border: 1px solid blueviolet;
  display: flex;
  justify-content: center;
}

.cards {
  text-align: left;
  padding: 7em;
  border-radius: 15px;
  border: 1px solid brown;
  width: 10vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.card-list {
  list-style: none;
  justify-content: center;
}
/*-------------------Footer----------------------*/
.footer {
  display: flex;
  border: 1px solid green;
  margin-top: auto;
  bottom: 0;
  height: 10vh;
}
/*-------------------Hidden custom prompt----------------------*/
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
select {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
